<!-- Single Featured Post -->
<div class="single-blog-post featured-post mb-30">
    <div class="post-thumb">
        <a href="{{articleUrl}}" target="_blank"><img src="{{imageUrl}}" alt=""></a>
    </div>
    <div class="post-data">
        <a href="#" class="post-catagory">{{section}}</a>
        <a href="#" class="post-title">
            <h6>{{title}}</h6>
        </a>
        <div class="post-meta">
            <p *ngIf="byline" class="post-author">{{byline}}</p>
            <p class="post-excerp">{{abstract}}</p>
        </div>
    </div>
</div>